{% extends 'base_front.html' %}

{% block preamble %}
{% block header_row1 %}
{% endblock header_row1 %}

{% endblock preamble %}

{% block mitten-span %}
{{ block.super }}

{% load crispy_forms_filters %}
    {% if form %}
    
    <h5>{{header}}</h5>
    <form id="beställ_form" action="{% url 'hantera_term_request' 'requested_term' 'requested_action' %}?{{whichTemplate}}" method='POST' enctype="multipart/form-data">{% csrf_token %}
      
    {{ form|crispy }}

    {% else %}
        {% for term in begrepp %}
        {{ term.term }}
        {% endfor %}
    <h5>Sökningen gav ingen träff!</h5>
    There is no form variable coming in
    {% endif %}
    <input class="btn btn-primary" type="submit" value="Skicka">

</form>

{% endblock mitten-span %}

{% block extra_javascript %}

<script>
 
    $("#beställ_form").submit(function(event){
    event.preventDefault();
    var post_url = $(this).attr("action");
    var request_method = $(this).attr("method");
    var formdata = new FormData($(this)[0]);
    
    $.ajax({
        beforeSend: function (request)
            {
                request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
            },
        url : post_url,
        type: request_method,
        dataType: 'html',
        contentType: false,
        cache: false,
        processData:false,
        data : formdata,
        success : function(response){
            $("#mitten-span-middle-column").html(response);
            history.pushState(post_url, '', post_url)
            setTimeout(function(){
            $("#mitten-span-middle-column").html('<div id="mitten-span-middle-column"></div>')}, 2500);
            document.getElementById('user-input').value = '';
            history.replaceState('', 'VGR Informatik - OLLI Begreppstjänst', '/');
        },
        error: function(response) {
            $("#mitten-span-middle-column").html(response.responseText);
        }
    });
});

    </script>
{% endblock extra_javascript %}