<br><br><div class="col-12"><h5>Begreppet finns för närvarande inte i Olli Begreppssystem. För
    att efterfråga detta begrepp tryck på "Efterfråga begrepp" alternativt "Registrera Millenium översättning".</div></h5><br>

<div class="row">
<div class="col-8">
<div class="card-body">
    <h5 class="card-title">Registrera Millenium översättning</h5>
    <p class="card-text">Använd detta formuläret om du vill registera översättningar för termer i Millennium.<br> Till exempel rubriker eller funktionallitet i mpage eller dylikt.</p>
    <button class="btn btn-light-blue" 
                    onclick="populate_request_form('{{searched_for_term}}', 'translate')">Registrera Millenium översättning</a></button></div></div>
                    <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Efterfråga begrepp</h5>
                        <p class="card-text">Använd detta formuläret om du vill få ett begrepp definierat.</p>
                        <button class="btn btn-light-blue"
                    onclick="populate_request_form('{{searched_for_term}}', 'efterfraga_begrepp')">Efterfråga begrepp</a><div></div></div></div>

                    